  <!-- ========================
   Banner Layout 8
  =========================== -->
  <section class="banner-layout8 bg-primary">
    <div class="top-shape"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-xl-5 banner-content">
          <div class="banner-text">
            <div class="heading-layout2 heading-light">
              <h3 class="heading-title">We are Helping to Advance Health with Clinical Trials and Vaccines
                Development.</h3>
              <p class="heading-desc font-weight-bold mb-40">We believe in harnessing science for human good, so we
                work day and
                night, around the world, to deliver answers for health questions. That means everything from advancing
                diagnostic testing, to helping launch new drugs, to offering new perspectives through data, all
                drawing from a deep well of scientific expertise.
              </p>
            </div>
            <div class="d-flex flex-wrap mb-90">
              <a href="about-us.html" class="btn btn-white btn-white-style2 mr-30">
                <span>Looking for More Info!</span> <i class="icon-arrow-right"></i>
              </a>
              <a href="contact-us.html" class="btn btn-light btn-outlined">Contact Us</a>
            </div>
            <div class="fancybox-layout2 fancybox-light">
              <div class="fancybox-item">
                <div class="fancybox-icon">
                  <i class="icon-chemistry"></i>
                </div><!-- /.fancybox-icon -->
                <div class="fancybox-body">
                  <h4 class="fancybox-title">World Class Diagnostics</h4>
                  <p class="fancybox-desc">We have developed some of the world's most advanced testing capabilities
                    to help improve health and lives.</p>
                </div><!-- /.fancybox-body -->
              </div><!-- /.fancybox-item -->
              <div class="fancybox-item">
                <div class="fancybox-icon">
                  <i class="icon-drug"></i>
                </div><!-- /.fancybox-icon -->
                <div class="fancybox-body">
                  <h4 class="fancybox-title">Leader in Drug Development</h4>
                  <p class="fancybox-desc">With the support of our diagnostics capabilities to deliver drug trials
                    that are both reliable and rigorous.</p>
                </div><!-- /.fancybox-body -->
              </div><!-- /.fancybox-item -->
            </div><!-- /.fancybox-layout2 -->
          </div><!-- /.banner-text -->
        </div><!-- /.col-xl-5 -->
        <div class="col-12 col-xl-7 d-flex align-items-center pl-50 pr-0">
          <div class="banner-img">
            <div class="bg-img">
              <img src="assets/images/banners/8.jpg" alt="backgrounds">
            </div>
          </div>
          <div class="banner-shape"></div>
        </div><!-- /.col-xl-7 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.Banner Layout8 -->