  <!-- ========================
      Services Layout 4
  =========================== -->
  <section class="services-layout4 pb-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
          <div class="heading-layout2 text-center mb-50">
            <h2 class="heading-subtitle">Find the Right Test for Your Needs!</h2>
            <h3 class="heading-title">Providing the Diverse Needs of Your Patient Community</h3>
          </div>
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-12">
          <div class="slick-carousel"
            data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "autoplay": true, "arrows": false, "dots": true, "responsive": [ {"breakpoint": 1100, "settings": {"slidesToShow": 2}},{"breakpoint": 992, "settings": {"slidesToShow": 1}}, {"breakpoint": 767, "settings": {"slidesToShow": 1}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
            <!-- service item #1 -->
            <div class="service-item">
              <div class="service-body">
                <div class="service-icon">
                  <i class="icon-education4 icon-item"></i>
                  <i class="icon-education4 icon-item"></i>
                </div>
                <h4 class="service-title">
                  <a href="tests-single-test.html">General Diagnostic Tests</a>
                </h4>
                <p class="service-desc">We are leader in ensuring exceptional quality testing in our facilities,
                  driven
                  by a passion to ensure you have critical information about your health give you access to
                  diagnostic...
                </p>
              </div><!-- /.service-body -->
              <div class="service-img">
                <img src="assets/images/services/7.jpg" alt="service">
              </div><!-- /.service-img -->
              <a href="tests-single-test.html" class="service-more">
                <svg class="service-more-svg">
                  <path stroke-width="2px" stroke="white" fill="transparent"
                    d="M105.000,82.843 L104.995,82.843 C104.982,87.968 102.169,92.700 97.606,95.262 L62.390,115.041 C57.816,117.610 52.181,117.610 47.607,115.041 L12.390,95.262 C7.827,92.700 5.014,87.968 5.001,82.843 L5.000,82.843 L5.000,82.821 C5.000,82.817 4.999,82.812 4.999,82.808 L5.000,82.808 L5.000,39.148 L4.992,39.148 C4.992,34.010 7.810,29.262 12.383,26.694 L47.600,6.915 C52.174,4.346 57.809,4.346 62.383,6.915 L97.599,26.694 C102.157,29.253 104.967,33.977 104.987,39.094 L105.000,39.094 L105.000,82.843 Z">
                  </path>
                </svg>
                <i class="plus-icon">+</i>
              </a>
            </div><!-- /.service-item -->
            <!-- service item #2 -->
            <div class="service-item">
              <div class="service-body">
                <div class="service-icon">
                  <i class="icon-biology6 icon-item"></i>
                  <i class="icon-biology6 icon-item"></i>
                </div>
                <h4 class="service-title">
                  <a href="tests-single-test.html">Specialized Genetic Tests</a>
                </h4>
                <p class="service-desc">Genetic testing can be useful at different stages of life, like discovering
                  that a family member has a condition that can be passed down or struggling to find a treatment for
                  this ....
                </p>
              </div><!-- /.service-body -->
              <div class="service-img">
                <img src="assets/images/services/8.jpg" alt="service">
              </div><!-- /.service-img -->
              <a href="tests-single-test.html" class="service-more">
                <svg class="service-more-svg">
                  <path stroke-width="2px" stroke="white" fill="transparent"
                    d="M105.000,82.843 L104.995,82.843 C104.982,87.968 102.169,92.700 97.606,95.262 L62.390,115.041 C57.816,117.610 52.181,117.610 47.607,115.041 L12.390,95.262 C7.827,92.700 5.014,87.968 5.001,82.843 L5.000,82.843 L5.000,82.821 C5.000,82.817 4.999,82.812 4.999,82.808 L5.000,82.808 L5.000,39.148 L4.992,39.148 C4.992,34.010 7.810,29.262 12.383,26.694 L47.600,6.915 C52.174,4.346 57.809,4.346 62.383,6.915 L97.599,26.694 C102.157,29.253 104.967,33.977 104.987,39.094 L105.000,39.094 L105.000,82.843 Z">
                  </path>
                </svg>
                <i class="plus-icon">+</i>
              </a>
            </div><!-- /.service-item -->
            <!-- service item #3 -->
            <div class="service-item">
              <div class="service-body">
                <div class="service-icon">
                  <i class="icon-chemical4 icon-item"></i>
                  <i class="icon-chemical4 icon-item"></i>
                </div>
                <h4 class="service-title">
                  <a href="tests-single-test.html">Naturopathic Tests</a>
                </h4>
                <p class="service-desc">From hormone levels, to food reactions, to identifying environmental toxins,
                  we
                  provide you with objective information so you can map your path to health and wellness and more....
                </p>
              </div><!-- /.service-body -->
              <div class="service-img">
                <img src="assets/images/services/9.jpg" alt="service">
              </div><!-- /.service-img -->
              <a href="tests-single-test.html" class="service-more">
                <svg class="service-more-svg">
                  <path stroke-width="2px" stroke="white" fill="transparent"
                    d="M105.000,82.843 L104.995,82.843 C104.982,87.968 102.169,92.700 97.606,95.262 L62.390,115.041 C57.816,117.610 52.181,117.610 47.607,115.041 L12.390,95.262 C7.827,92.700 5.014,87.968 5.001,82.843 L5.000,82.843 L5.000,82.821 C5.000,82.817 4.999,82.812 4.999,82.808 L5.000,82.808 L5.000,39.148 L4.992,39.148 C4.992,34.010 7.810,29.262 12.383,26.694 L47.600,6.915 C52.174,4.346 57.809,4.346 62.383,6.915 L97.599,26.694 C102.157,29.253 104.967,33.977 104.987,39.094 L105.000,39.094 L105.000,82.843 Z">
                  </path>
                </svg>
                <i class="plus-icon">+</i>
              </a>
            </div><!-- /.service-item -->
            <!-- service item #4 -->
            <div class="service-item">
              <div class="service-body">
                <div class="service-icon">
                  <i class="icon-allotropy icon-item"></i>
                  <i class="icon-allotropy icon-item"></i>
                </div>
                <h4 class="service-title">
                  <a href="tests-single-test.html">Food Sensitivity Tests</a>
                </h4>
                <p class="service-desc">IgG food reactions can take hours or days to develop, making difficult to
                  determine which food is responsible for the reaction without doing testing fast and specific way....
                </p>
              </div><!-- /.service-body -->
              <div class="service-img">
                <img src="assets/images/services/10.jpg" alt="service">
              </div><!-- /.service-img -->
              <a href="tests-single-test.html" class="service-more">
                <svg class="service-more-svg">
                  <path stroke-width="2px" stroke="white" fill="transparent"
                    d="M105.000,82.843 L104.995,82.843 C104.982,87.968 102.169,92.700 97.606,95.262 L62.390,115.041 C57.816,117.610 52.181,117.610 47.607,115.041 L12.390,95.262 C7.827,92.700 5.014,87.968 5.001,82.843 L5.000,82.843 L5.000,82.821 C5.000,82.817 4.999,82.812 4.999,82.808 L5.000,82.808 L5.000,39.148 L4.992,39.148 C4.992,34.010 7.810,29.262 12.383,26.694 L47.600,6.915 C52.174,4.346 57.809,4.346 62.383,6.915 L97.599,26.694 C102.157,29.253 104.967,33.977 104.987,39.094 L105.000,39.094 L105.000,82.843 Z">
                  </path>
                </svg>
                <i class="plus-icon">+</i>
              </a>
            </div><!-- /.service-item -->
            <!-- service item #5 -->
            <div class="service-item">
              <div class="service-body">
                <div class="service-icon">
                  <i class="icon-drugs icon-item"></i>
                  <i class="icon-drugs icon-item"></i>
                </div>
                <h4 class="service-title">
                  <a href="tests-single-test.html">Genova Diagnostics Tests</a>
                </h4>
                <p class="service-desc">Genova Diagnostics is an internationally renowned lab committed to only the
                  highest standards. Chronic diseases are complex, but with Genova's system-based testing so the ....
                </p>
              </div><!-- /.service-body -->
              <div class="service-img">
                <img src="assets/images/services/11.jpg" alt="service">
              </div><!-- /.service-img -->
              <a href="tests-single-test.html" class="service-more">
                <svg class="service-more-svg">
                  <path stroke-width="2px" stroke="white" fill="transparent"
                    d="M105.000,82.843 L104.995,82.843 C104.982,87.968 102.169,92.700 97.606,95.262 L62.390,115.041 C57.816,117.610 52.181,117.610 47.607,115.041 L12.390,95.262 C7.827,92.700 5.014,87.968 5.001,82.843 L5.000,82.843 L5.000,82.821 C5.000,82.817 4.999,82.812 4.999,82.808 L5.000,82.808 L5.000,39.148 L4.992,39.148 C4.992,34.010 7.810,29.262 12.383,26.694 L47.600,6.915 C52.174,4.346 57.809,4.346 62.383,6.915 L97.599,26.694 C102.157,29.253 104.967,33.977 104.987,39.094 L105.000,39.094 L105.000,82.843 Z">
                  </path>
                </svg>
                <i class="plus-icon">+</i>
              </a>
            </div><!-- /.service-item -->
            <!-- service item #6 -->
            <div class="service-item">
              <div class="service-body">
                <div class="service-icon">
                  <i class="icon-beaker icon-item"></i>
                  <i class="icon-beaker icon-item"></i>
                </div>
                <h4 class="service-title">
                  <a href="tests-single-test.html">Hormone Insights Tests</a>
                </h4>
                <p class="service-desc">Hormones are essential for the body to function optimally. Imbalances may
                  result in many health conditions. Hormone Insights is a detailed urine analysis that measures....
                </p>
              </div><!-- /.service-body -->
              <div class="service-img">
                <img src="assets/images/services/12.jpg" alt="service">
              </div><!-- /.service-img -->
              <a href="tests-single-test.html" class="service-more">
                <svg class="service-more-svg">
                  <path stroke-width="2px" stroke="white" fill="transparent"
                    d="M105.000,82.843 L104.995,82.843 C104.982,87.968 102.169,92.700 97.606,95.262 L62.390,115.041 C57.816,117.610 52.181,117.610 47.607,115.041 L12.390,95.262 C7.827,92.700 5.014,87.968 5.001,82.843 L5.000,82.843 L5.000,82.821 C5.000,82.817 4.999,82.812 4.999,82.808 L5.000,82.808 L5.000,39.148 L4.992,39.148 C4.992,34.010 7.810,29.262 12.383,26.694 L47.600,6.915 C52.174,4.346 57.809,4.346 62.383,6.915 L97.599,26.694 C102.157,29.253 104.967,33.977 104.987,39.094 L105.000,39.094 L105.000,82.843 Z">
                  </path>
                </svg>
                <i class="plus-icon">+</i>
              </a>
            </div><!-- /.service-item -->
          </div><!-- /.slick-carousel -->
        </div><!-- /.col-12 -->
      </div><!-- /.row -->
      <div class="cat-area pt-50 pb-50 mt-60 border-top">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-6 col-xl-5">
            <p class="font-weight-bold">Whether you are a provider or patient, when you need trusted information to
              make
              confident health
              decisions, consider us.
              <a href="#" class="color-secondary underlined-text-secondary font-weight-bold">Our Specialty Areas</a>
            </p>
          </div><!-- /.col-xl-5 -->
          <div class="col-md-12 col-lg-6 col-xl-6 offset-xl-1 d-flex flex-wrap justify-content-xl-end">
            <a href="tests-services.html" class="btn btn-primary btn-xl mr-30">
              <span>Tests and Services</span>
              <i class="icon-arrow-right"></i>
            </a>
            <div class="contact-phone d-flex align-items-center">
              <div class="phone-icon mr-20">
                <i class="icon-phone icon-item"></i>
              </div>
              <span class="fz-14">Contact our friendly staff or call us any time 01061245741</span>
            </div>
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
      </div><!-- /.Call to action Area -->
    </div><!-- /.container -->
  </section><!-- /.Services Layout 4 -->