  <!-- ========================
    FancyBox Layout 4
  =========================== -->
  <section class="fancybox-layout4 bg-overlay bg-overlay-primary-gradient pt-120">
    <div class=" bg-img"><img src="assets/images/backgrounds/1.jpg" alt="backgrounds">
    </div>
    <div class="container">
      <div class="row heading-layout2 heading-light mb-60">
        <div class="col-12">
          <h2 class="heading-subtitle">Sets The Standard For High Quality Care Since 1975</h2>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
          <h3 class="heading-title">Unwavering Commitment to Excellence and Quality of our Tests and Results.</h3>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-1">
          <p class="heading-desc font-weight-bold mb-20">We process more than 2 million patient specimens per week
            and
            help medical professionals and patients make important health decisions. The insights we gain through
            testing then fuel our drug development practice, by identifying patterns and even individuals who might
            benefit from enrollment in specific drug trials.</p>
          <p class="heading-desc mb-30">With the support of our diagnostics capabilities to deliver drug trials that
            are both reliable and rigorous, we're able to support clinical trial research efforts.
          </p>
          <div class="d-flex flex-wrap">
            <a href="about-us.html" class="btn btn-secondary btn-secondary-style2 mr-30">
              <span>Values and Culture</span> <i class="icon-arrow-right"></i>
            </a>
            <a href="contact-us.html" class="btn btn-light btn-outlined">
              Prepare for a Test
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="carousel-wrapper">
            <div class="slick-carousel"
              data-slick='{"slidesToShow": 5, "slidesToScroll": 1, "autoplay": true, "arrows": false, "dots": true, "responsive": [ {"breakpoint": 1100, "settings": {"slidesToShow": 3}},{"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 1}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
              <!-- fancybox item #1 -->
              <div class="fancybox-item">
                <div class="fancybox-img">
                  <img src="assets/images/features/1.jpg" alt="feature">
                </div>
                <div class="fancybox-icon">
                  <i class="icon-equipment"></i>
                </div><!-- /.fancybox-icon -->
                <div class="fancybox-body">
                  <h4 class="fancybox-title">Improving Your Health through Automation</h4>
                  <p class="fancybox-desc">Through our investment in new high volume chemistry tech, we have brought
                    next generation.
                  </p>
                  <a href="blog-single-post.html" class="btn btn-link btn-secondary">
                    <i class="icon-arrow-right icon-filled"></i>
                    <span>Read More</span>
                  </a>
                </div><!-- /.fancybox-body -->
              </div><!-- /.fancybox-item -->
              <!-- fancybox item #2 -->
              <div class="fancybox-item">
                <div class="fancybox-img">
                  <img src="assets/images/features/2.jpg" alt="feature">
                </div>
                <div class="fancybox-icon">
                  <i class="icon-drugs"></i>
                </div><!-- /.fancybox-icon -->
                <div class="fancybox-body">
                  <h4 class="fancybox-title">Partnering for Better Health Outcomes
                  </h4>
                  <p class="fancybox-desc">Building a healthier world mean looking at the future genetics and being
                    ready for it.
                  </p>
                  <a href="blog-single-post.html" class="btn btn-link btn-secondary">
                    <i class="icon-arrow-right icon-filled"></i>
                    <span>Read More</span>
                  </a>
                </div><!-- /.fancybox-body -->
              </div><!-- /.fancybox-item -->
              <!-- fancybox item #3 -->
              <div class="fancybox-item">
                <div class="fancybox-img">
                  <img src="assets/images/features/3.jpg" alt="feature">
                </div>
                <div class="fancybox-icon">
                  <i class="icon-chemical10"></i>
                </div><!-- /.fancybox-icon -->
                <div class="fancybox-body">
                  <h4 class="fancybox-title">Innovations in Vaccines & Drug Development</h4>
                  <p class="fancybox-desc">In the face of a growing street drug crisis, quick and accurate screening
                    is a matter of life.
                  </p>
                  <a href="blog-single-post.html" class="btn btn-link btn-secondary">
                    <i class="icon-arrow-right icon-filled"></i>
                    <span>Read More</span>
                  </a>
                </div><!-- /.fancybox-body -->
              </div><!-- /.fancybox-item -->
              <!-- fancybox item #4 -->
              <div class="fancybox-item">
                <div class="fancybox-img">
                  <img src="assets/images/features/4.jpg" alt="feature">
                </div>
                <div class="fancybox-icon">
                  <i class="icon-chemical11"></i>
                </div><!-- /.fancybox-icon -->
                <div class="fancybox-body">
                  <h4 class="fancybox-title">Trust Towards our Shared Purpose</h4>
                  <p class="fancybox-desc">We care for our patients, each other and our communities and excellence is
                    the standard.
                  </p>
                  <a href="blog-single-post.html" class="btn btn-link btn-secondary">
                    <i class="icon-arrow-right icon-filled"></i>
                    <span>Read More</span>
                  </a>
                </div><!-- /.fancybox-body -->
              </div><!-- /.fancybox-item -->
              <!-- fancybox item #5 -->
              <div class="fancybox-item">
                <div class="fancybox-img">
                  <img src="assets/images/features/5.jpg" alt="feature">
                </div>
                <div class="fancybox-icon">
                  <i class="icon-class"></i>
                </div><!-- /.fancybox-icon -->
                <div class="fancybox-body">
                  <h4 class="fancybox-title">Empowered to Change, Act, and to Adapt </h4>
                  <p class="fancybox-desc">We care for our patients, each other and our communities and excellence is
                    the standard.
                  </p>
                  <a href="blog-single-post.html" class="btn btn-link btn-secondary">
                    <i class="icon-arrow-right icon-filled"></i>
                    <span>Read More</span>
                  </a>
                </div><!-- /.fancybox-body -->
              </div><!-- /.fancybox-item -->
              <!-- fancybox item #6 -->
              <div class="fancybox-item">
                <div class="fancybox-img">
                  <img src="assets/images/features/3.jpg" alt="feature">
                </div>
                <div class="fancybox-icon">
                  <i class="icon-chemical10"></i>
                </div><!-- /.fancybox-icon -->
                <div class="fancybox-body">
                  <h4 class="fancybox-title">Innovations in Vaccines & Drug Development</h4>
                  <p class="fancybox-desc">In the face of a growing street drug crisis, quick and accurate screening
                    is a matter of life.
                  </p>
                  <a href="blog-single-post.html" class="btn btn-link btn-secondary">
                    <i class="icon-arrow-right icon-filled"></i>
                    <span>Read More</span>
                  </a>
                </div><!-- /.fancybox-body -->
              </div><!-- /.fancybox-item -->
            </div><!-- /.slick-carousel -->
          </div><!-- /.carousel-wrapper -->
        </div><!-- /.col-12 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-5">
          <div class="d-flex mt-40">
            <div class="rating d-flex mr-30">
              <i class="fa fa-star active"></i>
              <i class="fa fa-star active"></i>
              <i class="fa fa-star active"></i>
              <i class="fa fa-star active"></i>
              <i class="fa fa-star active"></i>
            </div>
            <div>
              <a href="#" class="color-secondary underlined-text-secondary font-weight-bold">97% Customer
                Satisfaction</a>
              <span class="color-gray">based on 750+ reviews from our beloved customers and 20,000 natural
                products!</span>
            </div>
          </div>
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.FancyBox Layout 4 -->
