 <!-- ============================
      Slider
  ============================== -->
  <section class="slider">
    <div class="slick-carousel carousel-dots-light m-slides-0"
      data-slick='{"slidesToShow": 1,"autoplay": true, "arrows": true, "dots": true, "speed": 700,"fade": true,"cssEase": "linear"}'>
      <div class="slide-item bg-overlay align-v-h">
        <div class="bg-img"><img src="assets/images/sliders/1.jpg" alt="slide img"></div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
              <div class="slide-content">
                <span class="slide-subtitle">Excellence, Dedicated, and Experienced Laboratory Technologists!</span>
                <h2 class="slide-title">Subtle Clinical & Laboratory Tests!</h2>
                <p class="slide-desc">We are continually harnessing our medical expertise to build best test offering
                  while investing in technology to transform the delivery of health care.</p>
                <div class="d-flex flex-wrap align-items-center">
                  <a href="tests-book-visit.html" class="btn btn-white btn-white-style2 mr-30">
                    <span>Book a Home Visit</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                  <a href="tests-services.html" class="btn btn-white btn-outlined">
                    <span>Tests and Services</span>
                  </a>
                </div>
              </div><!-- /.slide-content -->
            </div><!-- /.col-xl-7 -->
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4 offset-xl-1">
              <div class="fancybox-layout5 p-0 m-0">
                <div class="fancybox-container">
                  <!-- fancybox item #1 -->
                  <div class="fancybox-item">
                    <div class="fancybox-body">
                      <div class="fancybox-icon">
                        <i class="icon-chemical5"></i>
                      </div><!-- /.fancybox-icon -->
                      <h4 class="fancybox-title">New Advanced Instruments</h4>
                    </div><!-- /.fancybox-body -->
                  </div><!-- /.fancybox-item -->
                  <!-- fancybox item #2 -->
                  <div class="fancybox-item">
                    <div class="fancybox-body">
                      <div class="fancybox-icon">
                        <i class="icon-chemical2"></i>
                      </div><!-- /.fancybox-icon -->
                      <h4 class="fancybox-title">Strict Quality Practices</h4>
                    </div><!-- /.fancybox-body -->
                  </div><!-- /.fancybox-item -->
                  <!-- fancybox item #3 -->
                  <div class="fancybox-item">
                    <div class="fancybox-body">
                      <div class="fancybox-icon">
                        <i class="icon-archive"></i>
                      </div><!-- /.fancybox-icon -->
                      <h4 class="fancybox-title">Customized Lab Solutions</h4>
                    </div><!-- /.fancybox-body -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.fancybox-container -->
              </div><!-- /.fancybox-layout5 -->
            </div><!-- /.col-xl-3 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.slide-item -->
      <div class="slide-item bg-overlay align-v-h">
        <div class="bg-img"><img src="assets/images/sliders/2.jpg" alt="slide img"></div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
              <div class="slide-content">
                <span class="slide-subtitle">Excellence, Dedicated, and Experienced Laboratory Technologists!</span>
                <h2 class="slide-title">Quality Laboratory Testing Services!</h2>
                <p class="slide-desc">We are continually harnessing our medical expertise to build best test offering
                  while investing in technology to transform the delivery of health care.</p>
                <div class="d-flex flex-wrap align-items-center">
                  <a href="tests-book-visit.html" class="btn btn-white btn-white-style2 mr-30">
                    <span>Book a Home Visit</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                  <a href="tests-services.html" class="btn btn-white btn-outlined">
                    <span>Tests and Services</span>
                  </a>
                </div>
              </div><!-- /.slide-content -->
            </div><!-- /.col-xl-7 -->
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4 offset-xl-1">
              <div class="fancybox-layout5 p-0 m-0">
                <div class="fancybox-container">
                  <!-- fancybox item #1 -->
                  <div class="fancybox-item">
                    <div class="fancybox-body">
                      <div class="fancybox-icon">
                        <i class="icon-chemical5"></i>
                      </div><!-- /.fancybox-icon -->
                      <h4 class="fancybox-title">New Advanced Instruments</h4>
                    </div><!-- /.fancybox-body -->
                  </div><!-- /.fancybox-item -->
                  <!-- fancybox item #2 -->
                  <div class="fancybox-item">
                    <div class="fancybox-body">
                      <div class="fancybox-icon">
                        <i class="icon-chemical2"></i>
                      </div><!-- /.fancybox-icon -->
                      <h4 class="fancybox-title">Strict Quality Practices</h4>
                    </div><!-- /.fancybox-body -->
                  </div><!-- /.fancybox-item -->
                  <!-- fancybox item #3 -->
                  <div class="fancybox-item">
                    <div class="fancybox-body">
                      <div class="fancybox-icon">
                        <i class="icon-archive"></i>
                      </div><!-- /.fancybox-icon -->
                      <h4 class="fancybox-title">Customized Lab Solutions</h4>
                    </div><!-- /.fancybox-body -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.fancybox-container -->
              </div><!-- /.fancybox-layout5 -->
            </div><!-- /.col-xl-3 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.slide-item -->
    </div><!-- /.carousel -->
  </section><!-- /.slider -->
