  <!-- ========================
    About Layout 2
  =========================== -->
  <section class="about-layout2 pt-130 pb-130">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8 col-xl-8">
          <div class="about-text mb-30">
            <div class="about-badge">
              <div class="about-icon"><i class="icon-beaker"></i></div>
            </div>
            <div class="about-text-banner">
              <div class="heading-layout2">
                <h3 class="heading-title mb-0">A Trusted Healthcare Partner Providing You With High Quality Test
                  Services to Manage All Health Effectively!</h3>
              </div>
            </div>
          </div>
          <div class="about-img d-flex justify-content-end">
            <img src="assets/images/about/2.png" alt="about">
          </div>
        </div><!-- /.col-12 -->
        <div class="col-sm-12 col-md-10 col-lg-8 col-xl-4">
          <div class="about-Text">
            <p class="mb-30">With a belief that knowledge is power, we connect directly with patients to deliver their
              results so they have valuable health information when they need it most, we care about our people and
              are committed to excellence in the work.
            </p>
            <ul class="features-list-layout2 list-unstyled mb-40">
              <li class="feature-item">
                <i class="feature-icon"></i>
                <h4 class="feature-title mb-0">Health, Wellness and Insurance</h4>
              </li>
              <li class="feature-item">
                <i class="feature-icon"></i>
                <h4 class="feature-title mb-0">97% customer satisfaction rate</h4>
              </li>
              <li class="feature-item">
                <i class="feature-icon"></i>
                <h4 class="feature-title mb-0">Family Discount Packages</h4>
              </li>
            </ul>
            <p class="mb-30">While we believe we are more than just numbers, the depth of our laboratories is pretty
              impressive.</p>
            <div class="author-meta d-flex flex-wrap align-items-center mr-30">
              <div class="author-img">
                <img src="assets/images/testimonials/thumbs/7.jpg" alt="thumb">
              </div>
              <div>
                <h4 class="author-title">Okechukwu Afurobi</h4>
                <span class="author-desc"> Medical Director</span>
              </div>
              <!-- <img src="assets/images/about/singnture2.png" class="author-singnture" alt="singnture"> -->
            </div>
          </div>
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.About Layout 2 -->