<div class="bg-pink">
    <!-- ======================
     Call to Action
    ========================= -->
    <section class="cta-layout1 bg-secondary pt-0">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="cta-banner">
              <div class="cta-icon"><i class="icon-chemical"></i></div>
              <h4 class="cta-title">I'm a Healthcare Provider</h4>
              <p class="cta-desc">We pioneer advancements in clinical testing and partnerships with industry leaders
                to make sure your patients have the diagnostic information you need to make health decisions.</p>
              <ul class="features-list-layout3 list-horizontal bg-transparent list-unstyled mt-30 p-0 mb-0">
                <li class="feature-item">
                  <i class="feature-icon"></i>
                  <h4 class="feature-title mb-0">Provider Registration</h4>
                </li>
                <li class="feature-item">
                  <i class="feature-icon"></i>
                  <h4 class="feature-title mb-0">Our Tests Directory</h4>
                </li>
                <li class="feature-item">
                  <i class="feature-icon"></i>
                  <h4 class="feature-title mb-0">Resources & Supplies</h4>
                </li>
              </ul>
            </div><!-- /.cta-banner -->
          </div><!-- /.col-md-6 -->
          <div class="col-sm-12 col-md-6">
            <div class="cta-banner">
              <div class="cta-icon"><i class="icon-chemical9"></i></div>
              <h4 class="cta-title">I'm a Patient</h4>
              <p class="cta-desc">We pioneer advancements in clinical testing and partnerships with industry leaders
                to make sure your patients have the diagnostic information you need to make health decisions.</p>
              <ul class="features-list-layout3 list-secondary list-horizontal  list-unstyled mt-30 p-0 mb-0">
                <li class="feature-item">
                  <i class="feature-icon"></i>
                  <h4 class="feature-title mb-0">Tests & Services</h4>
                </li>
                <li class="feature-item">
                  <i class="feature-icon"></i>
                  <h4 class="feature-title mb-0">Find a Location</h4>
                </li>
                <li class="feature-item">
                  <i class="feature-icon"></i>
                  <h4 class="feature-title mb-0">Book an Appointment</h4>
                </li>
              </ul>
            </div><!-- /.cta-banner -->
          </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-md-12 col-lg-8 col-xl-7">
            <div class="cta-block d-flex align-items-start">
              <img src="assets/images/icons/file-outlined.png" alt="file" class="mr-40">
              <div>
                <h4 class="cta-title color-white">Your Trusted Partner in Medicine Testing!</h4>
                <p class="cta-desc color-gray">Your focus is on providing patients the best possible care and we’re
                  here
                  to help. To complement our comprehensive menu of tests, we provide resources to registered
                  healthcare
                  professionals to support your testing needs.
                </p>
              </div>
            </div>
          </div><!-- /.col-xl-7 -->
          <div class="col-md-12 col-lg-4 col-xl-3 offset-xl-2">
            <a href="tests-accreditation.html" class="btn btn-primary btn-primary-style2">
              <span>Accreditation & Licensing</span> <i class="icon-arrow-right"></i>
            </a>
          </div><!-- /.col-xl-3 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.cta-layout1 -->

    <!-- ======================
     Banner Layout 7
    ========================= -->
    <section class="banner-layout7 py-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-4 order-2-md">
            <div class="banner-img"><img src="assets/images/banners/7.jpg" class="w-100" alt="banner"></div>
          </div><!-- /.col-lg-4 -->
          <div class="col-sm-12 col-md-12 col-lg-8 order-1-md">
            <div class="banner-content">
              <div class="heading-layout2 mb-50">
                <h2 class="heading-title">Why People Love Us!</h2>
              </div>
              <div class="testimonials-layout3">
                <div class="testimonials-container">
                  <div class="slider-has-navs">
                    <!-- Testimonial #1 -->
                    <div class="testimonial-item">
                      <h3 class="testimonial-title">They have cultivated a loyal following of functional and
                        integrative medicine professionals, unified by a desire to prevent disease and attain health.
                        They alued partners in providing only high quality testing to help us achieve clinical results
                        faster .
                      </h3>
                    </div><!-- /. testimonial-item -->
                    <!-- Testimonial #2 -->
                    <div class="testimonial-item">
                      <h3 class="testimonial-title">Their doctors include highly qualified practitioners who come
                        from
                        a
                        range of backgrounds and bring with them a diversity of skills and special interests. They
                        also
                        have
                        registered nurses on staff who are available to triage any urgent matters
                      </h3>
                    </div><!-- /. testimonial-item -->
                  </div><!-- /.slick-carousel -->
                  <div class="slider-nav-thumbnails">
                    <div class="testimonial-meta d-flex align-items-center">
                      <div class="testimonial-thmb">
                        <img src="assets/images/testimonials/thumbs/3.jpg" alt="thumb">
                      </div>
                      <div>
                        <h4 class="testimonial-meta-title">Anna Mudson</h4>
                        <p class="testimonial-meta-desc">Optime Labs</p>
                      </div>
                    </div>
                    <div class="testimonial-meta d-flex align-items-center">
                      <div class="testimonial-thmb">
                        <img src="assets/images/testimonials/thumbs/1.jpg" alt="thumb">
                      </div>
                      <div>
                        <h4 class="testimonial-meta-title">Sami Wade</h4>
                        <p class="testimonial-meta-desc">Medcity Labs</p>
                      </div>
                    </div>
                  </div><!-- /.slider-nav-thumbnails -->
                </div><!-- /.testimonials-container -->
              </div><!-- /.testimonials-layout3 -->
            </div><!-- /.banner-content -->
          </div><!-- /.col-lg-7 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Banner Layout 7 -->
  </div>